html, body, #map {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
  font-family: Arial, Helvetica;
}

.layer-switcher {
  top: inherit;
  right: inherit; 
  left: .5em;
  bottom: .5em;
}

.geolocationcontrol {
  top: 65px;
  left: .5em;
}

.ol-touch .geolocationcontrol {
  top: 80px;
}

.multisearchcontainer  { 
  top: .5em;
  right: .5em;
  width: 250px;
  font-size:12px;
}

.selectorcontainer {
  width: inherit;
}

.selector {
  width: inherit;
  font-size: inherit;
}

.container { 
  width: inherit;
}

.input { 
  width: inherit;
  font-size: inherit;
  margin-top: 9px;
}

.popupoverskrift {
  margin: 0;
}

#kortlink, #fjern {
  margin-right: 10px;
}
